@page "/"

@inject IJSRuntime _jsRuntime;

@*<PageTitle Title="Welcome to BlackJack!" />*@
<title>Welcome to BlackJack!</title>

<p>
    Welcome Players! lets play Blackjack 21
</p>



<h2>
    The Blackjack Game
</h2>



<div class="container">
    
    <div class="row">
        
        <div class="col-4">
            <NavLink class="nav-link" href="blackjack">
                <h3>Blackjack</h3>
                <img class="img-fluid" src="images/blackjack/blackjack-bookmark.png" />
            </NavLink>
        </div>
        
    </div>
    

</div>