<div class="top-row px-4 text-right">
    <ul class="list-inline float-right">
        <li class="list-inline-item"><a href="https://takudzwam.live" target="_blank" class="ml-md-auto"><i class="fa fa-external-link-square-alt"></i> Takudzwa Mupanesure</a></li>
   
        <li class="list-inline-item"><a href="https://github.com/Takudzwamz/"><i class="fa fa-github"></i> GitHub</a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/takudzwa-mupanesure-14a3321b7/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
    </ul>
</div>
